/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable scss/double-slash-comment-empty-line-before */
@charset "utf-8";

// Variables
@import "variables";

// Transitions
@import "transitions.scss";

// Scrollbar
@import "scrollbar";

// Bulma
@import "/node_modules/bulma/sass/utilities/all";
@import "/node_modules/bulma/sass/base/all";

@import "/node_modules/bulma/sass/elements/box";
@import "/node_modules/bulma/sass/elements/button";
@import "/node_modules/bulma/sass/elements/container";
@import "/node_modules/bulma/sass/elements/content";
@import "/node_modules/bulma/sass/elements/icon";
// @import "/node_modules/bulma/sass/elements/image";
// @import "/node_modules/bulma/sass/elements/notification";
// @import "/node_modules/bulma/sass/elements/progress";
// @import "/node_modules/bulma/sass/elements/table";
// @import "/node_modules/bulma/sass/elements/tag";
@import "/node_modules/bulma/sass/elements/title";
@import "/node_modules/bulma/sass/elements/other";

@import "/node_modules/bulma/sass/form/shared";
@import "/node_modules/bulma/sass/form/input-textarea";
@import "/node_modules/bulma/sass/form/checkbox-radio";
@import "/node_modules/bulma/sass/form/select";
// @import "/node_modules/bulma/sass/form/file";
@import "/node_modules/bulma/sass/form/tools";

// @import "/node_modules/bulma/sass/components/breadcrumb";
// @import "/node_modules/bulma/sass/components/card";
@import "/node_modules/bulma/sass/components/dropdown";
@import "/node_modules/bulma/sass/components/level";
// @import "/node_modules/bulma/sass/components/media";
@import "/node_modules/bulma/sass/components/menu";
// @import "/node_modules/bulma/sass/components/message";
@import "/node_modules/bulma/sass/components/modal";
// $navbar-breakpoint: $tablet;
// @import "/node_modules/bulma/sass/components/navbar";
// @import "/node_modules/bulma/sass/components/pagination";
@import "/node_modules/bulma/sass/components/tabs";
@import "/node_modules/bulma/sass/components/panel";

@import "/node_modules/bulma/sass/grid/columns";
// @import "/node_modules/bulma/sass/grid/tiles";

@import "/node_modules/bulma/sass/helpers/color";
@import "/node_modules/bulma/sass/helpers/flexbox";
// @import "/node_modules/bulma/sass/helpers/float";
@import "/node_modules/bulma/sass/helpers/other";
// @import "/node_modules/bulma/sass/helpers/overflow";
@import "/node_modules/bulma/sass/helpers/position";
@import "/node_modules/bulma/sass/helpers/spacing";
@import "/node_modules/bulma/sass/helpers/typography";
@import "/node_modules/bulma/sass/helpers/visibility";

// @import "/node_modules/bulma/sass/layout/hero";
@import "/node_modules/bulma/sass/layout/section";
@import "/node_modules/bulma/sass/layout/footer";

// Fonts
$roboto-weights: 300, 400, 500, 700, 900;
@each $weight in $roboto-weights {
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import "/node_modules/@fontsource/roboto/#{$weight}.css";
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import "/node_modules/@fontsource/roboto/#{$weight}-italic.css";
}

$temp-radius-large: $radius-large;
$radius-large: 24px;

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "/node_modules/bulma-switch";

$radius-large: $temp-radius-large;

:root {
  --border-box-shadow-color: bulmaRgba(var(--primary-color), 0.25);
  --border-box-shadow-size: 0;
  --large-radius: 24px;
  --radius: 8px;
  --small-radius: 6px;
  --spacing: 8px;
  --titlebar-height: 50px;

  #root.dark {
    --background-color-darker: rgb(45 45 45);
    --background-color-secondary: rgb(51 51 51);
    --background-color: rgb(38 38 38);
    --border-color-dark: rgb(20 20 20);
    --border-color-hover: hsl(0deg 0% 50%);
    --border-color: rgb(101 100 100);
    --button-color-focus: hsl(31deg 38% 40%);
    --button-color-hover: hsl(31deg 38% 25%);
    --primary-color: rgb(173 92 4);
    --text-color-dark: rgb(250 250 250);
    --text-color-light: rgb(150 150 150);
    --text-color: rgb(200 200 200);
    --text-color-danger: rgb(230 52 52);
  }

  #root.light {
    --background-color-secondary: rgb(255 0 0);
    --background-color: rgb(255 0 0);
    --border-color: rgb(255 0 0);
    --primary-color: rgb(255 0 0);
    --text-color: rgb(61 61 61);
    --text-color-dark: hsl(0deg 0% 21%);
  }
}

#root {
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.is-selectable {
  user-select: text;
}

.has-text-danger {
  color: var(--text-color-danger) !important;
}

.buttons {
  gap: calc(var(--spacing) * 1);
}

.dropdown-content {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2);

  hr {
    margin-left: calc(var(--spacing) * -2);
    margin-right: calc(var(--spacing) * -2);
  }
}

.dropdown-item,
a.dropdown-item {
  border-radius: var(--radius);
  min-width: 150px;
  padding: 0.375rem 1rem;
}

.btn-outlined {
  background-color: transparent;
  border-color: var(--border-color);
}

.btn-large {
  border-radius: var(--large-radius);
}

.btn-color {
  &-rusty {
    &:hover {
      background-color: var(--button-color-hover);
      border-color: var(--button-color-hover);
    }

    &:focus {
      background-color: var(--button-color-focus);
      border-color: var(--button-color-focus);
    }
  }
}

.field-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
