.transition-wrapper {
  height: 100%;
  width: 100%;
}

// Slide
.slide-enter-active {
  position: absolute;
  transition: all 0.3s ease-out;
}

.slide-leave-active {
  position: absolute;
  transition: all 0.3s ease-in;
}

.slide-enter-from {
  transform: translateX(-100%);
}

.slide-leave-to {
  transform: translateX(-100%)
}

// Quick Fade
.quick-fade-enter-active {
  transition: all 0.1s ease-out;
}

.quick-fade-leave-active {
  transition: all 0.1s ease-in;
}

.quick-fade-enter-from,
.quick-fade-leave-to {
  opacity: 0;
}