// Bulma variables
$background: var(--background-color);
$body-overflow-y: hidden;
$border-hover: None;
$border: var(--border-color);
$button-active-color: var(--text-color);
$button-border-color: var(--border-color);
$button-color: var(--text-color);
$button-focus-border-color: var(--primary-color);
$button-focus-box-shadow-color: var(--border-box-shadow-color);
$button-focus-box-shadow-size: var(--border-box-shadow-size);
$button-focus-color: var(--text-color);
$button-hover-border-color: var(--border-color-hover);
$button-hover-color: var(--text-color);
$danger: rgb(201, 35, 35);
$dropdown-content-background-color: var(--background-color-secondary);
$dropdown-content-radius: var(--large-radius);
$dropdown-content-shadow: 0px 5px 8px 3px rgba(0,0,0,0.2);
$dropdown-divider-background-color: var(--border-color);
$dropdown-item-color: var(--text-color);
$dropdown-item-hover-background-color: var(--primary-color);
$dropdown-item-hover-color: var(--text-color-dark);
$family-sans-serif: "Roboto";
$input-background-color: var(--background-color);
$input-border-color: var(--border-color);
$input-color: var(--text-color);
$input-focus-border-color: var(--primary-color);
$input-focus-box-shadow-color: var(--border-box-shadow-color);
$input-focus-box-shadow-size: var(--border-box-shadow-size);
$input-hover-border-color: var(--border-color-hover);
$input-radius: 6px;
$link: var(--primary-color);
$modal-close-top: calc(var(--titlebar-height) + 20px);
$primary: var(--primary-color);
$radius-large: var(--large-radius);
$radius-small: var(--small-radius);
$radius: var(--radius);
$scheme-main: var(--background-color);
$success: rgb(56, 117, 60);
$text-strong: var(--text-color-dark);
$text: var(--text-color);

// Custom Bulma Colours
$rusty: hsl(31, 38%, 25%);
$rusty-invert: findColorInvert($rusty);
$custom-colors: ("rusty": ($rusty, $rusty-invert));
